<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stderr="true" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>index.php</directory>
            <directory>default.php</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./_neoan</directory>
            <directory>./asset</directory>
            <directory>./_template</directory>
            <directory suffix="Test.php">./</directory>
        </exclude>
        <report>
            <clover outputFile="tests/clover.xml"/>
            <html outputDirectory="tests/report"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./component</directory>
            <directory suffix="Test.php">./model</directory>
            <directory suffix="Test.php">./provider</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="base" value="http://localhost"/>
    </php>
    <logging/>
</phpunit>
