<div class="container" x-data="migrate()" x-init="$watch('data.currentModelIndex',()=>start())">
    <template x-if="data.safeSpace&&data.showCreateModal">
        <div class="position-absolute bg-black-75" style="left:0;top:0;right:0;bottom:0;">
            <div class="position-relative bg-white w-50p b-rounded b-1 b-primary p-5" style="top: 30%;left:25%">
                <form x-on:submit.prevent="createNewModel">
                    <h3>Create new model</h3>
                    <div class="d-flex">
                        <label for="new-model">model name</label>
                        <input x-model="data.newModel" type="text" id="new-model" class="m-l-2 f-1 b-0 b-b-1 b-primary font-md">
                    </div>
                    <div class="d-flex m-t-3">
                        <span class="f-1">&nbsp;</span>
                        <button type="button" x-on:click="data.showCreateModal=false;data.newModel=''" class="b-rounded p-1 b-0 bg-accent text-white hover:raise-1-gray font-md">cancel</button>
                        <button class="m-l-1 b-rounded p-1 b-0 bg-primary text-white hover:raise-1-gray font-md">create</button>
                    </div>

                </form>
            </div>
        </div>
    </template>
    <template x-if="!isNewestCli">
        <div class="m-y-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <span class="text-warning">Your cli-tool is <strong>not</strong> up to date. Please update!</span>
        </div>
    </template>
    <div class="m-y-2" x-show="!data.safeSpace">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        In order to create a new model, use the cli tool: <code class="p-x-1 bg-black text-white font-default">neoan3 new model [[yourModeName]]</code> ; then reload this page.
    </div>
    <div class="bg-primary text-white p-3" x-show="data.safeSpace">
        <div class="grid-3-5-4">
            <label for="db-cred">Using db-credentials:</label>
            <input id="db-cred" class="b-0 b-rounded" type="text" x-model="data.credentialName">
            <div class="text-warning place-x-end">safe-space mode active</div>
        </div>
    </div>

    <div class="grid">
        <div >
            <h2>Model</h2>
            <form x-on:submit.prevent="start" class="d-flex">
                <select class="f-1 b-0 b-b-1 b-primary font-md p-y-1 w-100p" x-model="data.currentModelIndex">
                    <option selected disabled value="-1">select model</option>
                    <template x-for="(model,i) in data.models">
                        <option x-bind:key="i" x-bind:value="i" x-text="model.name"></option>
                    </template>
                </select>
                <button x-on:click="data.showCreateModal=true" type="button" class="b-1 b-primary bg-transparent" title="new model">+</button>
            </form>
            <template x-if="data.started">
                <div>
                    <template x-for="(table,i) in Object.keys(data.currentModel.migrate)">
                        <div class="m-y-2 b-rounded b-primary b-1 raise-1-primary p-2">
                            <template x-if="i>0">
                                <button style="right: 30px; cursor: pointer" x-on:click="removeTable(table)" class="position-absolute m-r-2 m-t-2 text-red b-0 b-rounded bg-transparent">x</button>
                            </template>
                            <p class="font-md" x-text="table"></p>
                            <div class="grid-3-2-2-2-2">
                                <p class="text-primary">name</p>
                                <p class="text-primary">type</p>
                                <p class="text-primary">nullable</p>
                                <p class="text-primary">key</p>
                                <p class="text-primary">default</p>
                            </div>
                            <template x-for="(field,j) in Object.keys(data.currentModel.migrate[table])">
                                <div>
                                    <template x-if="!editable(field)">
                                        <div class="grid-3-2-2-2-2-1">
                                            <p x-text="field"></p>
                                            <p x-text="data.currentModel.migrate[table][field].type"></p>
                                            <p x-text="data.currentModel.migrate[table][field].nullable"></p>
                                            <p>
                                                <span x-show="data.currentModel.migrate[table][field].key"  x-text="data.currentModel.migrate[table][field].key"></span>
                                                <span x-show="!data.currentModel.migrate[table][field].key">X</span>
                                            </p>
                                            <p x-text="data.currentModel.migrate[table][field].default"></p>
                                        </div>
                                    </template>
                                    <template x-if="editable(field)">
                                        <div class="grid-3-2-2-2-2-1 m-y-5">
                                            <div class="p-r-2" x-text="field">
                                            </div>
                                            <div class="p-r-2">
                                                <input class="b-0 b-b-1 b-primary font-md w-75p" type="text"
                                                       x-model="data.currentModel.migrate[table][field].type">
                                            </div>
                                            <div>
                                                <input type="checkbox" x-model="data.currentModel.migrate[table][field].nullable">
                                            </div>
                                            <div>
                                                <input  type="checkbox"
                                                        x-model="data.currentModel.migrate[table][field].key">
                                                <div x-show="data.currentModel.migrate[table][field].key">
                                                    <select x-model="data.currentModel.migrate[table][field].key">
                                                        <option x-bind:selected="data.currentModel.migrate[table][field].key === true" disabled>index</option>
                                                        <option value="unique">unique</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <input class="b-0 b-b-1 b-primary font-md w-75p" type="text"
                                                       x-model="data.currentModel.migrate[table][field].default">
                                            </div>
                                            <div>
                                                <button style="cursor: pointer" class="bg-transparent b-0 text-red" x-on:click="removeField(table,field)">X</button>
                                            </div>

                                        </div>
                                    </template>
                                </div>

                            </template>
                            <form class="grid-8-4" x-on:submit.prevent="addField(table)">
                                <p>
                                    <input
                                            pattern="[a-z_]+"
                                            title="use snake_case, use lower case, use singular"
                                            placeholder="new_field"
                                            required
                                            class="b-0 b-b-1 b-primary font-md w-100p" type="text" x-model="data.newFieldName">
                                </p>
                                <div class="place-x-center place-y-center">
                                    <button type="submit" class="b-rounded p-1 b-0 bg-accent text-white hover:raise-1-gray font-md">+ field</button>
                                </div>
                            </form>
                        </div>
                    </template>
                    <form class="m-t-5" x-on:submit.prevent="addSub">
                        <div class="grid-2-4-6">
                            <span class="place-x-end p-t-2" x-text="data.currentModel.name.toLowerCase()+'_'"></span>
                            <input class="b-0 b-b-1 b-primary font-md p-y-1" placeholder="submodel" type="text" x-model="data.subName">
                            <div class="p-t-1 place-x-end">
                                <button class="b-rounded p-1 b-0 bg-accent text-white hover:raise-1-gray font-md" x-bind:disabled="data.subName==''" type="submit">add submodel</button>

                            </div>

                        </div>
                    </form>
                </div>
            </template>
            <div class="m-y-2 bg-warning-75 text-white p-3" x-show="data.safeSpace&&data.showSafeSpaceWarning">
                <div class="d-flex">
                    <h3 class="f-1">Security Warning!</h3>
                    <button x-on:click="data.showSafeSpaceWarning=false" title="hide warning" class="place-y-center cursor-pointer b-rounded-3 b-1 b-white bg-warning text-white">x</button>
                </div>

                <p>You are running in safe-space mode as indicated by the file .safe-space in the parent directory of this installation!
                    This mode will attempt to run the cli-tool to create and migrate automatically.
                    In general, it is <strong>not recommended</strong> to deploy the migrate-component.
                    If you see this message within your development environment, no caution is necessary.
                    <strong>However,</strong> if you see this message in production, REMOVE the safe-space file and consider removing this component from production!
                </p>

            </div>
        </div>
        <div x-show="data.started" class="b-t-1 b-primary m-t-3">
            <div class="grid m-y-3">
                <button class=" place-x-end b-rounded p-1 b-0 bg-primary text-white hover:raise-1-gray font-md" x-on:click="finish" type="button">(re)generate</button>
            </div>
            <h3>Your migrate.json</h3>
            <p>File-permission issues? On very restrictive systems you might have to copy this migrate-JSON into your model manually. (https://n3-migrate.herokuapp.com/)</p>
            <textarea class="b-primary b-rounded w-100p m-b-2" x-text="JSON.stringify(data.currentModel.migrate)"></textarea>
        </div>
    </div>

</div>