html {
    background: #2B3B31;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Lucida Console", Monaco, monospace;
    color: #7EC52C;
}

p {
    color: rgba(150, 223, 44, 0.7);
}
p a{
    color: rgba(172, 247, 45, 0.95);
}
li{
    color: #7EC52C;
    list-style: square;
    font-size: 110%;
}
.box{
    border: 3px dashed #7EC52C;
    box-shadow: #436a1b 3px 3px 7px;
    padding: 7px;
    animation: blink 1s step-end infinite alternate;
}
@keyframes blink {
    50% { border-color: #959103; }
}