<div>
    <h2 class="text-primary">Not your first neoan3 project? We've got some news.</h2>
    <p>
        Since 2016 we have kept changes non-breaking. However, we are excited to now introduce version 3 to you!
    </p>
    <h2 class="font-lg text-primary">What's new?</h2>
    <h3 class="font-md text-primary">Unicore Singleton</h3>
    <p class="m-t-3 font-md">
        With the introduction to modular rendering the Unicore singleton is more flexible than ever.
    </p>
    <h3 class="font-md text-primary">Models</h3>
    <p class="m-t-3 font-md">
        Working with databases much? The new version will blow your mind!
    </p>
    <h3 class="font-md text-primary">Tests</h3>
    <p class="m-t-3 font-md">
        Make sure you have the newest cli version to get testing done in no time.
    </p>
    <h3 class="font-md text-primary">Providers</h3>
    <p class="m-t-3 font-md">
        Introduced in the LTS of neoan3 v2.x, providers have become a major part of decoupling your application while remaining fully flexible.
    </p>
    <h3 class="font-md text-primary">CLI</h3>
    <p class="m-t-3 font-md">
        Worry not, the cli can handle your old neoan3 projects going forward. We introduced a version-hook that will allow flexible behavior across versions with the same cli helper.
    </p>
</div>