<div>
    <div class="container" x-data="{tab:'System', tabs:['System','Introduction','Quickstart','Changes']}">
        <section class="b-primary b-1 b-rounded m-y-2" style="display:flex; justify-content: space-between">
            <template x-for="x in tabs">
                <a href="#" x-on:click.prevent="tab=x" style="flex: auto"
                   class="text-decoration-none p-y-2 p-x-4 b-0 hover:bg-primary hover:text-white font-md"
                   x-text="x"
                   x-bind:class="{'text-primary':tab==x,'text-black':tab!=x}">
                    Welcome
                </a>
            </template>
        </section>
        <div class="grid-12">
            <section class="box b-1 b-rounded b-primary p-4">
                <template x-if="tab=='System'">
                    {{tabs.system}}
                </template>
                <template x-if="tab=='Introduction'">
                    {{tabs.introduction}}
                </template>
                <template x-if="tab=='Quickstart'">
                    {{tabs.quickstart}}
                </template>
                <template x-if="tab=='Changes'">
                    {{tabs.changes}}
                </template>
            </section>
        </div>
        <div class="m-y-5 p-4 b-rounded b-1 b-primary" x-data="{display:true, reload(){ this.display = false; setTimeout(()=> this.display = true,1)}}">

            <div class="d-flex">
                <h3 class="text-secondary font-default f-1">Did you know?</h3>
                <div class="place-y-center">
                    <button class="p-x-3 p-y-2 b-1 b-primary b-rounded bg-transparent hover:text-white hover:bg-primary" x-on:click="reload()">another random tip</button>
                </div>
            </div>
            <template x-if="display">
                <custom-element >That you can build hybrid applications with neoan3, where neoan3 serves a javascript frontend? </custom-element>
            </template>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
</div>
