<div>
    <h2 class="text-primary">A short history</h2>
    <p class="font-md">
        Originally a project targeted at learners, neoan3 was first used in production roughly a decade ago.
        Since then, industry standards, performance needs, testability, continuous integration, scalability, maintainability and reusability
        became more and more relevant in ongoing development.
    </p>
    <p class="font-md">
        Used internally by teams inside the corporate world, neoan3 now moves inside the open source world and is looking forward to users, contributors and patrons.
    </p>
    <h2 class="text-primary">But what is it?</h2>
    <p class="font-md">
        Neoan3 is not only another all purpose framework; its focus is <strong class="text-accent">speed and security</strong>.
    </p>
    <h3 class="text-primary">What we mean by speed</h3>
    <p class="font-md">
        Neoan3 is rapidly fast in the following ways:
    </p>
    <ul class="font-md">
        <li>Learning & Onboarding (You can be productive in neoan3 within hours)</li>
        <li>Development (scaffolding, templating, transforming and a powerful cli helper)</li>
        <li>Integration Cycle (setup for unit & ci testing)</li>
        <li>Delivery (fastest benchmark compared to all major frameworks)</li>
    </ul>
    <h3 class="text-primary">What we mean by secure</h3>
    <p class="font-md">
        Neoan3 has many built-in security layers
    </p>
    <ul class="font-md">
        <li>It's impossible to create insecure database transactions</li>
        <li>It ships with Json Web Token restrictions</li>
        <li>Easy and secure CORS policy</li>
        <li>Sandboxed core</li>
    </ul>
</div>